body{
    margin: 10px;
    background-color: rgb(246, 250, 249);
    background-image: url("images/cool pers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.header {
    padding: 40px; /* some padding */
    text-align: center; /* center the text */
    
    color: rgb(68, 10, 10); /* white text color */
}

.main {
    padding: 40px;
    border: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background:#2F80ED;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width:100%;
    }

}